<template name="EnvironmentWizard">
    <!-- modals template for issue modal  -->
    {{> eventModals}}

  <form class="sm-environment-form">

    <div class="main-layout-no-nav cards white">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        {{#each tab in tabs }}
          <li role="presentation"
              class="{{#if tab.defaultTab }}active{{/if}}">
            <a href="#{{ tab.localLink }}"
               aria-controls="{{ tab.localLink }}"
               role="tab"
               data-toggle="tab"
               id="link-{{ tab.localLink }}"
               >{{tab.label}}</a>
          </li>
        {{/each}}
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        {{#each tab in tabs }}
        <div role="tabpanel" 
             class="tab-pane fade {{#if tab.defaultTab }}in active{{/if}}" 
             id="{{ tab.localLink }}">
          {{> Template.dynamic template=tab.templateName }}
        </div>
        {{/each }}
      </div>
    </div>
    
  </form>   

</template>
