<template name="TimeSelectionWidget">
  <form class="os-time-selection-widget form-inline">
    <div class="form-group">
      <input type="number" class="form-control sm-year-input" placeholder="Year">
    </div>
    <span>-</span>
    <div class="form-group">
      <input type="number" class="form-control sm-month-input" placeholder="Month">
    </div>
    <span>-</span>
    <div class="form-group">
      <input type="number" class="form-control sm-day-input" placeholder="Day">
    </div>
    <span> </span>
    <div class="form-group">
      <input type="number" class="form-control sm-hour-input" placeholder="Hour">
    </div>
    <span>:</span>
    <div class="form-group">
      <input type="number" class="form-control sm-minute-input" placeholder="Minute">
    </div>
  </form>
</template>
