<template name="ScansList">
<div class="os-scans-list cards white">
  <h3>Scans</h3>
  <table class="sm-scans-table table">
    <thead>
      <tr>
        <th>Status</th>
        <th>Log Level</th>
        <th>Clear</th>
        <th>Scan Only Iventory</th>
        <th>Scan Only Links</th>
        <th>Scan Only Cliques</th>
        <th>Scan Completed</th>
        <th>Submit Timestamp</th>
        <th>Start Timestamp</th>
        <th>End Timestamp</th>
        <th>Environment</th>
        <th>Inventory</th>
        <th>Object ID</th>
        <th>Action</th>
      </tr> </thead>
    <tbody> 
      {{#each scan in scans }}
      <tr>
        <td>{{ scan.status }}</td>
        <td>{{ scan.log_level }}</td>
        <td>{{ scan.clear }}</td>
        <td>{{ scan.scan_only_inventory }}</td>
        <td>{{ scan.scan_only_links }}</td>
        <td>{{ scan.scan_only_cliques }}</td>
        <td>{{ scan.scan_completed }}</td>
        <td>{{ scan.submit_timestamp }}</td>
        <td>{{ scan.start_timestamp }}</td>
        <td>{{ scan.end_timestamp }}</td>
        <td>{{ scan.environment }}</td>
        <td>{{ scan.inventory }}</td>
        <td>{{ scan.object_id }}</td>
        <td><a href="{{pathFor route='scanning-request' 
                          query=(asHash env=scan.environment id=scan._id action='view') }}"
                ><i class="cl-action-icon fa fa-eye" area-hidden="true"></i></a>
        </td>
      </tr>
      {{/each }}
    </tbody>
  </table>
</div>
</template>
