<template name="MessagesInfoBox">
  <div class="cards-flex-col-h120 white {{ colorClass }}">
  <div class="flex-box">
    <div class="flex-box-1">
      <i class="material-icons">{{ icon }}</i>
    </div>
    <div class="flex-box-2">
      <h5>{{ title }}</h5>
      <p class="active">Total: {{ count }}</p>
      {{#if lastScanTimestamp }}
      <p>Timestamp: {{ lastScanTimestamp }}</p>
      {{/if }}
      <a class="sm-more-details-btn" href="#" data-toggle="modal" data-target="#error">More details</a>
    </div>
  </div>
</div>
</template>
