<template name="topnavbarmenu">

    <nav class="os-topnavbarmenu navbar navbar-inverse navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <img class="navbar-brand navbar-custom" src="/logo-cisco.svg" >
                <p class="navbar-brand navbar-custom" href="/">Project OSDNA </p>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <div class="navbar-form navbar-right">
                  <div class="search">
                    <div class="search-input-group">
                      <span class="fa fa-search"></span>
                      <input id="search" placeholder="Search ...">
                    </div>
                    <div class="search-auto-complete">
                      {{>SearchAutoCompleteList (createSearchAutoCompleteListArgs) }}  
                    </div>
                  </div>
                </div>
                <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown os-nav-link">
                    {{> envForm}}    
                  </li>
                  <li><a class="sm-dashboard-link os-nav-link">
                      <i class="fa fa-home" aria-hidden="true"></i>
                      Dashboard
                    </a></li>
                  <li><a class="sm-get-started-link os-nav-link">Get started</a></li>
                  <li><a class="sm-login-buttons-link os-nav-link" href="#"
                      >{{> loginButtons}}</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    {{> alarmIcons}}

</template>
