<template name="EnvironmentBoxProjects">
    <div id="project-section" class="single-env-section">
        <span class="project-title">Projects</span>
        <div class="project-details">
            <img src="/icons/icon-project-C.svg">
            <div class="project-list">
                <span class="projects-count">{{ projects.count }}</span>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="true">
                        SELECT PROJECT
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        {{#each projectItem in projects }}
                            <li>
                                <a href="{{pathFor route='environment'
                                                   data=(asHash _id=(idToStr envId))
                                                   query=(asHash
                                                           selectedNodeId=(idToStr projectItem._id)) }}">{{ projectItem.object_name }}</a>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>