.jumbotron {
	padding: 48px;
}
#main-logo {
    width: 400px;
    height: 250px;
    background-repeat: no-repeat;
    background-position: 20px -50px;
    background-size: 85%;
    background-image: url("../img/logo_microscope_3.png");
    }