<template name="RegionDashboard">
  <div class="os-region-dashboard flex-box justify-content-between">
    <div class="flex-box-3 main-layout-no-nav">
      
      <div class="flex">
        <div class="flex-box-1 cards white title">
          <h4>Region name: {{ region.name }}</h4>
        </div>
      </div>

      <div class="sm-info-boxes">
        {{#each infoBox in infoBoxes }}
          {{> DataCubic (argsInfoBox infoBox) }}
        {{/each }}
      </div>
      
      <!-- flex box for regions and projects -->
      <div class="sm-list-info-boxes">
        {{#each listInfoBox in listInfoBoxes }}
          <div class="sm-item">
            {{> ListInfoBox (argsListInfoBox listInfoBox) }}
          </div>
        {{/each }}
      </div>
      
    </div>
  </div>
</template>
