.os-messages-modal
  display: flex;
  flex-flow: column nowrap;
  .cl-link
    cursor: pointer

  .sm-messages-table
    table-layout: fixed;

   .sm-message-row
      word-break: break-all;

  .sm-pager-section
    display: flex;
    justify-content: center;
