<template name="EnvironmentBox">
  <div class="os-environment-box white">
    <div class="flex-box-3">
      <div class="env-name-container">
        <div class="env-name">{{ environmentName }}
        </div>
        <div class="env-more" style="display: none;">
          <img src="/icons/icon-more.svg">
        </div>
      </div>
      <div id="dist-section" class="single-env-section">
        <span class="dist-title">Distribution</span>
        <div class="dist-details">
          <img src="/icons/icon-distribution.svg">
          <span class="dist-name">{{ distribution }}</span>
        </div>
      </div>
      <div style="display: flex">
        {{#if equals 'OpenStack' environmentType}}
            {{> EnvironmentBoxRegions (assoc 'regions' regions) }}
            {{> EnvironmentBoxProjects (assoc 'projects' projects) }}
        {{else if equals 'Kubernetes' environmentType}}
            {{> EnvironmentBoxNetworks (assoc 'networks' networks) }}
            {{> EnvironmentBoxHosts (assoc 'hosts' hosts) }}
        {{/if}}
      </div>
      <div class="env-summary">
        {{#if equals 'OpenStack' environmentType}}
        <div class="env-summary-item-container">
          <div class="env-summary-item">
            <span class="env-summary-item-title">Instances</span>
            <div class="env-summary-item-counter">{{ instancesCount }}</div>
          </div>
        </div>
        <div class="env-summary-item-container">
          <div class="env-summary-item">
            <span class="env-summary-item-title">vServices</span>
            <div class="env-summary-item-counter">{{ vservicesCount }}</div>
          </div>
        </div>
        {{else if equals 'Kubernetes' environmentType}}
        <div class="env-summary-item-container">
            <div class="env-summary-item">
                <span class="env-summary-item-title">Containers</span>
                <div class="env-summary-item-counter">{{ containersCount }}</div>
            </div>
        </div>
        <div class="env-summary-item-container">
            <div class="env-summary-item">
                <span class="env-summary-item-title">Pods</span>
                <div class="env-summary-item-counter">{{ podsCount }}</div>
            </div>
        </div>
        {{/if}}
        <div class="env-summary-item-container">
          <div class="env-summary-item">
              <span class="env-summary-item-title">vConnectors</span>
              <div class="env-summary-item-counter">{{ vconnectorsCount }}</div>
          </div>
        </div>
        <div class="env-summary-item-container">
          <div class="env-summary-item">
            <span class="env-summary-item-title">Hosts</span>
            <div class="env-summary-item-counter">{{ hostsCount }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>