.sm-environment-container 

.sm-environment-container 
  .sm-env-header-line
    display: flex
    flex-flow: row nowrap 
    justify-content: space-between
    align-items: center

  .sm-env-header-name-cmp
    flex-grow: 2
    display: flex
    flex-flow: row nowrap
    justify-content: center
    align-items: center
 
  .cl-action-button 
    color: spark-blue

  .main-layout-no-nav
    margin: 0px; 
    
    .sp-breadcrumb-segment
       margin-bottom: 30px;
       background-color brand-blue 
