<template name="accordionWikiMenu">
  
  <div class="left-nav-content-wiki">
    <nav>
      <div id="left-nav-menu" class="left-nav-menu">
        <div class="menu-header"> Let's get started! </div>
        <ul>
          <li><a href="#wikiFirstStep"><i class="material-icons">class</i> First step</a></li>
          <li><a href="#wikiAddNewEnv"><i class="material-icons">class</i> Add new environment</a></li>
          <li><a href="#wikiSwitchEnv"><i class="material-icons">class</i> Switch environment</a></li>
          <li><a href="#wikiWorkWithEnv"><i class="material-icons">class</i> Work with environment</a>
            <ul class="submenu">
              <li><a href="#"><i class="material-icons">description</i> How to use left nav menu</a></li>
              <li><a href="#"><i class="material-icons">description</i> Navigation with dashboard</a></li>
              <li><a href="#"><i class="material-icons">description</i> Graph icons</a></li>
            </ul>
          </li>
          <li><a href="#"><i class="material-icons">class</i> What is cliques?</a>
            <ul class="submenu">
              <li><a href="#"><i class="material-icons">description</i> Clique description</a></li>
              <li><a href="#"><i class="material-icons">description</i> Create my own cliques</a></li>
            </ul>
          </li>
        </ul>
        <div class="menu-footer"> Cisco Systems inc. All rights reserved.</div>
      </div>
    </nav>
  </div>

</template>
