.os-data-cubic
  display: flex;
  flex-flow: row wrap;
  
  .sm-icon-part
    flex: 1

  .sm-info-part
    flex: 2    

.os-data-cubic.cl-theme-dark
  background-color: dk-gray1

.os-data-cubic.cl-theme-light
  color: spark-blue 
  background-color: #fff
