<template name="home">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.min.css">
    
    {{>topnavbarmenu}}
    {{>multilevelorig}}

</template>

<template name="d3graph">
    <div id="dgraphid"></div>
</template>

<template name="multilevelorig">

    <div id="pushobj">
        {{>breadcrumbMenu}}
        {{>d3graph}}
    </div>
    <div id="menu">
        <nav>
            <h2><i class="fa fa-reorder"></i>Env</h2>
            <ul>
                {{#each treeItems }}
                    {{> multilevelorigNodeTemplate}}
                {{/each }}
            </ul>
        </nav>
    </div>
</template>

<template name="multilevelorigNodeTemplate" >
    <li id="{{id}}" title="{{name}}" type="{{type}}" clique="{{clique}}" objId="{{_id._str}}">
        <a href="#"><i class="fa fa-laptop"></i>{{object_name}}</a>
        {{#if hasChildren}}
            <h2><i class="fa fa-laptop"></i>{{object_name}}</h2>
            <ul>
                {{#each children}}
                    {{> multilevelorigNodeTemplate}}
                {{/each}}
            </ul>
        {{/if}}
    </li>
</template>

<template name="breadcrumbMenu">
    <ol class="breadcrumb">
        <li class="active">All Categories</li>
    </ol>
</template>