<template name="getstarted">

  {{> accordionWikiMenu}}

  <div class="main-layout">
    
    <div class="cards white">
      <h3 id="wikiFirstStep">First Step</h3>
      <p class="text">Administrators of Calipso can add new Environments. Calipso needs the administrator to add OpenStack Environments, one or more. <br>Environment in Calipso means an OpenStack infrastructure managed under a single administrative entity. Calipso scans the environment through API, DataBase and Command-Line, credentials are needed for each of those methods. Click on "My Environments" to get started.</p>
      <div class="flex-box justify-content-between wrap">
        <div class="flex-box-1">
          <img src="/wiki/addNewEnv.png" alt="" class="img_responsive" width="800">
        </div>
      </div>
      <p class="text margin-top-40">Click on "My Environments" and "Add new Environment" to provide the details for a new environment.</p>
      <div class="flex-box justify-content-between wrap">
        <div class="flex-box-1">
          <img src="/wiki/addNewEnv1.png" alt="" class="img_responsive" width="800">
        </div>
      </div>
    </div>
    
    <div class="cards white">
      <h3 id="wikiAddNewEnv">Add new environment</h3>
      <p class="text">In this wizard Calipso captures the Environment Name and distribution type.Name can be anything symbolic for the administrator and distribution type is needed for making a more accurate scanning and discovery through the environment. Calipso needs credentials for accessing OpenStack API, underlying DataBase and host Command Line Interface. KeyStone’s admin endpoint is the setup Calipso needs for accessing the entire OpenStack API:</p>
      <div class="flex-box justify-content-between wrap">
        <div class="flex-box-1">
          <img src="/wiki/wizard2.png" alt="" class="img_responsive" width="800">
        </div>
      </div>
      <p class="text margin-top-40">DB credentials are needed to provide a much more granular insight into your OpenStack environment. Using the DB access Calipso collects more important data (read only) that is not available through API.</p>
      <div class="flex-box justify-content-between wrap">
        <div class="flex-box-1">
          <img src="/wiki/wizard1.png" alt="" class="img_responsive" width="800">
        </div>
      </div>
      <p class="text margin-top-40">You need to setup a single CLI entry point into OpenStack. The host credentials are needed for a single ‘jump-host’ used by Calipso as an entry point into hosts CLI.  Calipso assumes all other OpenStack hosts are further accessible through this single entry point into the infrastructure.</p>
      <div class="flex-box justify-content-between wrap">
        <div class="flex-box-1">
          <img src="/wiki/wizard3.png" alt="" class="img_responsive" width="800">
        </div>
      </div>
      <p class="text margin-top-40">Finally, as an optional setup, details on an overlay NFV application can be given, so Calipso can further discover the NFV specific functions and their names.</p>
      <div class="flex-box justify-content-between wrap">
        <div class="flex-box-1">
          <img src="/wiki/wizard4.png" alt="" class="img_responsive" width="800">
        </div>
      </div>
    </div>
    <div class="cards white">
      <h3 id="wikiSwitchEnv">Switch environment</h3>
      <p class="text">Calipso runs a scan of each environment, you can then access each one through “My Environment”, and switch between environments as you like:</p>
      <div class="flex-box justify-content-between wrap">
        <div class="flex-box-1">
          <img src="/wiki/addNewEnv.png" alt="" class="img_responsive" width="800">
        </div>
      </div>
    </div>
    <div class="cards white">
      <h3 id="wikiWorkWithEnv">Work with environments</h3>
      <p class="text">When you choose a specific environment, you will be directed to the environment dashboard to start viewing and analyzing the underlying discovered data and dependencies.</p>
      <div class="flex-box justify-content-between wrap">
        <div class="flex-box-1">
          <img src="/wiki/addNewEnv.png" alt="" class="img_responsive" width="800">
        </div>
      </div>
    </div>
  </div>

</template>
