<template name="ProjectDashboard">

  <div class="os-project-dashboard flex-box justify-content-between">
    <div class="flex-box-3 main-layout-no-nav">
      
      <div class="flex">
        <div class="flex-box-1 cards white title">
          <h4>Project name: {{ project.name }}</h4>
        </div>
      </div>

      <div class="sm-info-boxes">
        {{#each infoBox in infoBoxes }}
          {{> DataCubic (genArgsInfoBox infoBox) }}
        {{/each }}
      </div>
      
      <div class="sm-list-info-boxes">
        {{#each network in networks }}
          <div class="sm-item">
            {{> NetworkInfoBox (argsNetworkInfoBox network) }}
          </div>
        {{/each }}
      </div>
      
    </div>
  </div>
</template>
