<template name="Environment">
  
  <!-- modals template for issue modal  -->
  {{> eventModals}}

  <div class="sm-environment-container flex-box justify-content-between">
    <div class="flex-box-1 site-sidenav">
      {{> accordionNavMenu (createNavMenuArgs childNodeRequested) }}
    </div>

    <div class="flex-box-3 main-layout-no-nav">
        <div class="sp-breadcrumb-segment">
          {{> breadcrumb }}
        </div>

        {{> d3graph}}

        {{> GraphTooltipWindow (argsGraphTooltipWindow graphTooltipWindow) }}

        {{#if showVedgeInfoWindow }}
          {{> VedgeInfoWindow (argsVedgeInfoWindow vedgeInfoWindow) }}
        {{/if }}

        {{#if isShowDashboard 'environment' }}
          {{> EnvironmentDashboard argsEnvDashboard }}
        {{/if }}
        {{#if isShowDashboard 'project' }}
          {{> ProjectDashboard argsInventoryNodeDashboard }} 
        {{/if }}
        {{#if isShowDashboard 'aggregate' }}
          {{> AggregateDashboard argsInventoryNodeDashboard }}
        {{/if }}
        {{#if isShowDashboard 'region' }}
          {{> RegionDashboard argsInventoryNodeDashboard }}
        {{/if }}
        {{#if isShowDashboard 'host' }}
          {{> HostDashboard argsInventoryNodeDashboard }}
        {{/if }}

    </div>
  </div>

</template>
