<template name="Environment">
  
  <div class="sm-environment-container flex-box justify-content-between">
    <div class="flex-box-1 site-sidenav">
      {{#if isLoaded }}
        {{> accordionNavMenu (argsNavMenu envName mainNode) }}
      {{/if }}
    </div>

    <div class="flex-box-3 main-layout-no-nav">
        <div class="sp-breadcrumb-segment">
          {{> breadcrumb (argsBreadCrumb rdxSelectedNodeId) }}
        </div>

        {{#if selectedNodeType }}
          {{#if (getShow 'dashboard') }}
            {{> UI.dynamic template=dashboardTemplate 
                           data=(argsDashboard rdxSelectedNodeId) }}
          {{/if }}
          {{#if (getShow 'graph') }}
            {{#if isSelectedNodeAGraph }}

              {{> d3graph argsD3Graph }}

              {{> GraphTooltipWindow (argsGraphTooltipWindow graphTooltipWindow) }}

              {{#if showVedgeInfoWindow }}
                {{> VedgeInfoWindow (argsVedgeInfoWindow vedgeInfoWindow) }}
              {{/if }}
            
            {{else }}

              <div class="sm-node-no-graph-data-msg">Node does not have a graph data</div>

            {{/if }}
          {{/if }}
        {{/if }}

    </div>
  </div>

</template>
